@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}


:root {
	--grey: #F1F0F6;
	--dark-grey: #8D8D8D;
	--light: #fff;
	--dark: #000;
	--green: #81D43A;
	--light-green: #E3FFCB;
	--blue: #1775F1;
	--light-blue: #D0E4FF;
	--dark-blue: #0C5FCD;
	--red: #FC3B56;
    --colorWhite: #fff;
    --colorNeutralCool: #f9f9f9;
    --colorNeutralWarm: #f2f0eb;
    --colorCeramic: #edebe9;
    --colorBlack: #000;
    --colorGreenStarbucks: #006241;
    --colorGreenAccent: #00754a;
    --colorGreenLight: #d4e9e2;
    --colorHouseGreen: #1e3932;
    --colorGold: #cba258;
    --colorGoldLight: #dfc49d;
    --colorGoldLightest: #faf6ee;
    --colorRed: #d62b1f;
    --colorYellow: #fbbc05;
    --colorWhiteHsl: 0 0% 100%;
    --colorNeutralCoolHsl: 0 0% 98%;
    --colorNeutralWarmHsl: 43 21% 94%;
    --colorCeramicHsl: 30 10% 92%;
    --colorBlackHsl: 0 0% 0%;
    --colorGreenStarbucksHsl: 160 100% 19%;
    --colorGreenAccentHsl: 158 100% 23%;
    --colorGreenLightHsl: 160 32% 87%;
    --colorHouseGreenHsl: 164 31% 17%;
    --colorGoldHsl: 39 53% 57%;
    --colorGoldLightHsl: 35 51% 75%;
    --colorGoldLightestHsl: 40 55% 96%;
    --colorRedHsl: 4 75% 48%;
    --colorYellowHsl: 45 97% 50%;
    --StartBucksGreen: #0b421a;
    --StartBucksWhite: #fffcfc;
    --StartBucksYellow: #eac784;
    --StartBucksBrown: #362415;
    --StartBucksLightBrown: #604c4c;
    
}

.navbar-nav{
    display: flex;
    align-items: center;
}

.navbar-nav li a{
    font-weight: bold;
    font-size: 1.1rem;
    margin-left: 1.5em;
    color: var(--colorGreenAccent);
}

.navbar-nav li a:hover{
    color: var(--colorGreenStarbucks);
}


.redes
{
    right: 2%;
    top: 26%;
    position: absolute;
}

.contenido
{
    display: grid;
    align-items: center;
}

.contenido h2
{
    color: var(--colorGreenStarbucks);
    font: bolder;
    font-size: 6em;
}
.contenido p
{
    font-size: 2em;
}

.producto-img
{
    width: 400px;
    height: 580px;
}

.imgbtn
{
    width: 100px;
    height: 120px;
}

.btncarrusel
{
    background-color: rgba(255, 255, 255, 0); 
    border: 1px solid #ffffff; 
    color: #ffffff; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}



@media (max-width: 1199px)
{
    .contenido p
    {
        font-size: 2em;
        text-align: center;
    }

    .redes
    {
        right: 2%;
        top: 50%;
        position: absolute;
    }

    .contenido h2
    {
        color: var(--colorGreenStarbucks);
        font: bolder;
        font-size: 4em;
    }
}